body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1754px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2086px;
  height:1569px;
}
#u2618 {
  position:absolute;
  left:-166px;
  top:-16px;
  width:2086px;
  height:1569px;
}
#u2619 {
  position:absolute;
  left:2px;
  top:776px;
  width:2082px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
}
#u2620 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
}
#u2621 {
  position:absolute;
  left:2px;
  top:27px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1318px;
  height:1410px;
}
#u2622 {
  position:absolute;
  left:291px;
  top:110px;
  width:1318px;
  height:1410px;
}
#u2623 {
  position:absolute;
  left:2px;
  top:697px;
  width:1314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#515151;
}
#u2624 {
  position:absolute;
  left:293px;
  top:22px;
  width:181px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#515151;
}
#u2625 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u2626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2626 {
  position:absolute;
  left:1561px;
  top:40px;
  width:47px;
  height:20px;
}
#u2627 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u2628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2628 {
  position:absolute;
  left:1446px;
  top:20px;
  width:40px;
  height:40px;
}
#u2629 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2630 {
  position:absolute;
  left:1496px;
  top:40px;
  width:57px;
  height:20px;
}
#u2631 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u2632 {
  position:absolute;
  left:1496px;
  top:20px;
  width:46px;
  height:15px;
  color:#FFFFFF;
}
#u2633 {
  position:absolute;
  left:2px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u2635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:1410px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2635 {
  position:absolute;
  left:293px;
  top:110px;
  width:230px;
  height:1410px;
}
#u2636 {
  position:absolute;
  left:2px;
  top:697px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2637 {
  position:absolute;
  left:334px;
  top:268px;
  width:20px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2638 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
}
#u2639 {
  position:absolute;
  left:363px;
  top:268px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
}
#u2640 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2641 {
  position:absolute;
  left:368px;
  top:308px;
  width:97px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2642 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:2px;
}
#u2643 {
  position:absolute;
  left:294px;
  top:388px;
  width:230px;
  height:1px;
}
#u2644 {
  position:absolute;
  left:2px;
  top:-8px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2645 {
  position:absolute;
  left:339px;
  top:134px;
  width:20px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2646 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
}
#u2647 {
  position:absolute;
  left:368px;
  top:134px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
}
#u2648 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2649 {
  position:absolute;
  left:368px;
  top:176px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2650 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2651 {
  position:absolute;
  left:368px;
  top:214px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2652 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:2px;
}
#u2653 {
  position:absolute;
  left:294px;
  top:257px;
  width:230px;
  height:1px;
}
#u2654 {
  position:absolute;
  left:2px;
  top:-8px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2655 {
  position:absolute;
  left:368px;
  top:346px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2656 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2657 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:498px;
}
#u2658 {
  position:absolute;
  left:120px;
  top:1654px;
  width:667px;
  height:498px;
}
#u2659 {
  position:absolute;
  left:2px;
  top:241px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:57px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2660 {
  position:absolute;
  left:120px;
  top:1654px;
  width:667px;
  height:57px;
}
#u2661 {
  position:absolute;
  left:2px;
  top:20px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:70px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2662 {
  position:absolute;
  left:120px;
  top:2152px;
  width:667px;
  height:70px;
}
#u2663 {
  position:absolute;
  left:2px;
  top:27px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2664 {
  position:absolute;
  left:308px;
  top:2170px;
  width:120px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2665 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u2666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2666 {
  position:absolute;
  left:466px;
  top:2170px;
  width:120px;
  height:35px;
  font-size:14px;
}
#u2667 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u2668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#6B6B6B;
}
#u2668 {
  position:absolute;
  left:758px;
  top:1673px;
  width:17px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#6B6B6B;
}
#u2669 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2670 {
  position:absolute;
  left:139px;
  top:1673px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u2671 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2672 {
  position:absolute;
  left:167px;
  top:1742px;
  width:100px;
  height:22px;
  font-size:16px;
}
#u2673 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2672_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2674 {
  position:absolute;
  left:167px;
  top:1812px;
  width:100px;
  height:22px;
  font-size:16px;
}
#u2675 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2674_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2676 {
  position:absolute;
  left:167px;
  top:1768px;
  width:225px;
  height:20px;
  color:#999999;
}
#u2677 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2678 {
  position:absolute;
  left:167px;
  top:1842px;
  width:339px;
  height:20px;
  color:#999999;
}
#u2679 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  white-space:nowrap;
}
#u2680 {
  position:absolute;
  left:167px;
  top:1891px;
  width:100px;
  height:22px;
  font-size:16px;
}
#u2681 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2680_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2682 {
  position:absolute;
  left:167px;
  top:1952px;
  width:117px;
  height:22px;
  font-size:16px;
}
#u2683 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u2682_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2684 {
  position:absolute;
  left:167px;
  top:2075px;
  width:117px;
  height:22px;
  font-size:16px;
}
#u2685 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u2684_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2686 {
  position:absolute;
  left:167px;
  top:2015px;
  width:117px;
  height:22px;
  font-size:16px;
}
#u2687 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u2686_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2688 {
  position:absolute;
  left:547px;
  top:143px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u2689 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2690 {
  position:absolute;
  left:547px;
  top:198px;
  width:30px;
  height:30px;
}
#u2691 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2692 {
  position:absolute;
  left:587px;
  top:205px;
  width:75px;
  height:16px;
}
#u2692_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2692.mouseOver {
}
#u2693 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2694 {
  position:absolute;
  left:666px;
  top:205px;
  width:57px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2695 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2698 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2699 {
  position:absolute;
  left:1341px;
  top:798px;
  width:20px;
  height:20px;
}
#u2700 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2701 {
  position:absolute;
  left:1398px;
  top:798px;
  width:20px;
  height:20px;
}
#u2702 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2703 {
  position:absolute;
  left:1439px;
  top:798px;
  width:66px;
  height:20px;
}
#u2704 {
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u2705 {
  position:absolute;
  left:1510px;
  top:798px;
  width:58px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u2706 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u2707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2707 {
  position:absolute;
  left:1369px;
  top:802px;
  width:22px;
  height:12px;
  font-size:11px;
}
#u2708 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u2709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2709 {
  position:absolute;
  left:1405px;
  top:805px;
  width:7px;
  height:7px;
}
#u2710 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2711 {
  position:absolute;
  left:1345px;
  top:803px;
  width:10px;
  height:10px;
}
#u2712 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2713 {
  position:absolute;
  left:547px;
  top:448px;
  width:1026px;
  height:333px;
}
#u2714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:44px;
}
#u2714 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2715 {
  position:absolute;
  left:2px;
  top:11px;
  width:163px;
  word-wrap:break-word;
}
#u2716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
}
#u2716 {
  position:absolute;
  left:167px;
  top:0px;
  width:252px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2717 {
  position:absolute;
  left:2px;
  top:11px;
  width:248px;
  word-wrap:break-word;
}
#u2718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:44px;
}
#u2718 {
  position:absolute;
  left:419px;
  top:0px;
  width:187px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2719 {
  position:absolute;
  left:2px;
  top:11px;
  width:183px;
  word-wrap:break-word;
}
#u2720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:44px;
}
#u2720 {
  position:absolute;
  left:606px;
  top:0px;
  width:224px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2721 {
  position:absolute;
  left:2px;
  top:11px;
  width:220px;
  word-wrap:break-word;
}
#u2722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:44px;
}
#u2722 {
  position:absolute;
  left:830px;
  top:0px;
  width:191px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2723 {
  position:absolute;
  left:2px;
  top:11px;
  width:187px;
  word-wrap:break-word;
}
#u2724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:64px;
}
#u2724 {
  position:absolute;
  left:0px;
  top:44px;
  width:167px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2725 {
  position:absolute;
  left:2px;
  top:24px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:64px;
}
#u2726 {
  position:absolute;
  left:167px;
  top:44px;
  width:252px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2727 {
  position:absolute;
  left:2px;
  top:21px;
  width:248px;
  word-wrap:break-word;
}
#u2728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:64px;
}
#u2728 {
  position:absolute;
  left:419px;
  top:44px;
  width:187px;
  height:64px;
  font-size:16px;
}
#u2729 {
  position:absolute;
  left:2px;
  top:21px;
  width:183px;
  word-wrap:break-word;
}
#u2730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:64px;
}
#u2730 {
  position:absolute;
  left:606px;
  top:44px;
  width:224px;
  height:64px;
  font-size:16px;
}
#u2731 {
  position:absolute;
  left:2px;
  top:23px;
  width:220px;
  word-wrap:break-word;
}
#u2732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:64px;
}
#u2732 {
  position:absolute;
  left:830px;
  top:44px;
  width:191px;
  height:64px;
  font-size:16px;
}
#u2733 {
  position:absolute;
  left:2px;
  top:23px;
  width:187px;
  word-wrap:break-word;
}
#u2734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:55px;
}
#u2734 {
  position:absolute;
  left:0px;
  top:108px;
  width:167px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2735 {
  position:absolute;
  left:2px;
  top:20px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:55px;
}
#u2736 {
  position:absolute;
  left:167px;
  top:108px;
  width:252px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2737 {
  position:absolute;
  left:2px;
  top:16px;
  width:248px;
  word-wrap:break-word;
}
#u2738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:55px;
}
#u2738 {
  position:absolute;
  left:419px;
  top:108px;
  width:187px;
  height:55px;
  font-size:16px;
}
#u2739 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u2740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:55px;
}
#u2740 {
  position:absolute;
  left:606px;
  top:108px;
  width:224px;
  height:55px;
  font-size:16px;
}
#u2741 {
  position:absolute;
  left:2px;
  top:18px;
  width:220px;
  word-wrap:break-word;
}
#u2742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:55px;
}
#u2742 {
  position:absolute;
  left:830px;
  top:108px;
  width:191px;
  height:55px;
  font-size:16px;
}
#u2743 {
  position:absolute;
  left:2px;
  top:18px;
  width:187px;
  word-wrap:break-word;
}
#u2744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:55px;
}
#u2744 {
  position:absolute;
  left:0px;
  top:163px;
  width:167px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2745 {
  position:absolute;
  left:2px;
  top:20px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:55px;
}
#u2746 {
  position:absolute;
  left:167px;
  top:163px;
  width:252px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2747 {
  position:absolute;
  left:2px;
  top:16px;
  width:248px;
  word-wrap:break-word;
}
#u2748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:55px;
}
#u2748 {
  position:absolute;
  left:419px;
  top:163px;
  width:187px;
  height:55px;
  font-size:16px;
}
#u2749 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u2750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:55px;
}
#u2750 {
  position:absolute;
  left:606px;
  top:163px;
  width:224px;
  height:55px;
  font-size:16px;
}
#u2751 {
  position:absolute;
  left:2px;
  top:18px;
  width:220px;
  word-wrap:break-word;
}
#u2752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:55px;
}
#u2752 {
  position:absolute;
  left:830px;
  top:163px;
  width:191px;
  height:55px;
  font-size:16px;
}
#u2753 {
  position:absolute;
  left:2px;
  top:18px;
  width:187px;
  word-wrap:break-word;
}
#u2754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:55px;
}
#u2754 {
  position:absolute;
  left:0px;
  top:218px;
  width:167px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2755 {
  position:absolute;
  left:2px;
  top:20px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:55px;
}
#u2756 {
  position:absolute;
  left:167px;
  top:218px;
  width:252px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2757 {
  position:absolute;
  left:2px;
  top:16px;
  width:248px;
  word-wrap:break-word;
}
#u2758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:55px;
}
#u2758 {
  position:absolute;
  left:419px;
  top:218px;
  width:187px;
  height:55px;
  font-size:16px;
}
#u2759 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u2760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:55px;
}
#u2760 {
  position:absolute;
  left:606px;
  top:218px;
  width:224px;
  height:55px;
  font-size:16px;
}
#u2761 {
  position:absolute;
  left:2px;
  top:18px;
  width:220px;
  word-wrap:break-word;
}
#u2762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:55px;
}
#u2762 {
  position:absolute;
  left:830px;
  top:218px;
  width:191px;
  height:55px;
  font-size:16px;
}
#u2763 {
  position:absolute;
  left:2px;
  top:18px;
  width:187px;
  word-wrap:break-word;
}
#u2764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:55px;
}
#u2764 {
  position:absolute;
  left:0px;
  top:273px;
  width:167px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2765 {
  position:absolute;
  left:2px;
  top:20px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:55px;
}
#u2766 {
  position:absolute;
  left:167px;
  top:273px;
  width:252px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2767 {
  position:absolute;
  left:2px;
  top:16px;
  width:248px;
  word-wrap:break-word;
}
#u2768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:55px;
}
#u2768 {
  position:absolute;
  left:419px;
  top:273px;
  width:187px;
  height:55px;
  font-size:16px;
}
#u2769 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u2770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:55px;
}
#u2770 {
  position:absolute;
  left:606px;
  top:273px;
  width:224px;
  height:55px;
  font-size:16px;
}
#u2771 {
  position:absolute;
  left:2px;
  top:18px;
  width:220px;
  word-wrap:break-word;
}
#u2772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:55px;
}
#u2772 {
  position:absolute;
  left:830px;
  top:273px;
  width:191px;
  height:55px;
  font-size:16px;
}
#u2773 {
  position:absolute;
  left:2px;
  top:18px;
  width:187px;
  word-wrap:break-word;
}
#u2774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2774 {
  position:absolute;
  left:547px;
  top:266px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2775 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2776 {
  position:absolute;
  left:622px;
  top:259px;
  width:161px;
  height:35px;
}
#u2776_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2777 {
  position:absolute;
  left:824px;
  top:266px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2778 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2779 {
  position:absolute;
  left:899px;
  top:259px;
  width:161px;
  height:35px;
}
#u2779_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2780 {
  position:absolute;
  left:547px;
  top:324px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2781 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2782 {
  position:absolute;
  left:622px;
  top:317px;
  width:78px;
  height:35px;
}
#u2782_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2783 {
  position:absolute;
  left:744px;
  top:317px;
  width:78px;
  height:35px;
}
#u2783_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2784 {
  position:absolute;
  left:714px;
  top:324px;
  width:17px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2785 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2786 {
  position:absolute;
  left:869px;
  top:324px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2787 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2788 {
  position:absolute;
  left:944px;
  top:317px;
  width:78px;
  height:35px;
}
#u2788_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2789 {
  position:absolute;
  left:1066px;
  top:317px;
  width:78px;
  height:35px;
}
#u2789_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2790 {
  position:absolute;
  left:1036px;
  top:324px;
  width:17px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2791 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2792 {
  position:absolute;
  left:547px;
  top:370px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u2793 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u2794 {
  position:absolute;
  left:565px;
  top:463px;
  width:15px;
  height:16px;
}
#u2795 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2794_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2796 {
  position:absolute;
  left:587px;
  top:513px;
  width:25px;
  height:16px;
  text-align:center;
}
#u2797 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2796_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2798 {
  position:absolute;
  left:587px;
  top:574px;
  width:25px;
  height:16px;
  text-align:center;
}
#u2799 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2798_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2800 {
  position:absolute;
  left:587px;
  top:632px;
  width:25px;
  height:16px;
  text-align:center;
}
#u2801 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2800_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2802 {
  position:absolute;
  left:587px;
  top:691px;
  width:25px;
  height:16px;
  text-align:center;
}
#u2803 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2802_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2804 {
  position:absolute;
  left:587px;
  top:742px;
  width:25px;
  height:16px;
  text-align:center;
}
#u2805 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2804_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2806 {
  position:absolute;
  left:1421px;
  top:380px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u2807 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
