body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:150px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:150px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u36 {
  position:absolute;
  left:2px;
  top:50px;
  width:1996px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:360px;
  top:277px;
  width:703px;
  height:197px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  color:#FFFFFF;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:33px;
}
#u40 {
  position:absolute;
  left:160px;
  top:0px;
  width:262px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:258px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:33px;
}
#u42 {
  position:absolute;
  left:422px;
  top:0px;
  width:142px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
}
#u44 {
  position:absolute;
  left:564px;
  top:0px;
  width:134px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u45 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:69px;
}
#u46 {
  position:absolute;
  left:0px;
  top:33px;
  width:160px;
  height:69px;
}
#u47 {
  position:absolute;
  left:2px;
  top:26px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:69px;
}
#u48 {
  position:absolute;
  left:160px;
  top:33px;
  width:262px;
  height:69px;
}
#u49 {
  position:absolute;
  left:2px;
  top:26px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:69px;
}
#u50 {
  position:absolute;
  left:422px;
  top:33px;
  width:142px;
  height:69px;
}
#u51 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:69px;
}
#u52 {
  position:absolute;
  left:564px;
  top:33px;
  width:134px;
  height:69px;
}
#u53 {
  position:absolute;
  left:2px;
  top:26px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u54 {
  position:absolute;
  left:0px;
  top:102px;
  width:160px;
  height:90px;
}
#u55 {
  position:absolute;
  left:2px;
  top:37px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:90px;
}
#u56 {
  position:absolute;
  left:160px;
  top:102px;
  width:262px;
  height:90px;
}
#u57 {
  position:absolute;
  left:2px;
  top:37px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:90px;
}
#u58 {
  position:absolute;
  left:422px;
  top:102px;
  width:142px;
  height:90px;
}
#u59 {
  position:absolute;
  left:2px;
  top:37px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:90px;
}
#u60 {
  position:absolute;
  left:564px;
  top:102px;
  width:134px;
  height:90px;
}
#u61 {
  position:absolute;
  left:2px;
  top:37px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
